# Hugo output
public/
resources/_gen
hugo_stats.json

# Local development files
.DS_Store
.vscode/
.idea/

# Shell script logs or temp files
*.tmp

# Hugo local server cache
.hugo_build.lock