<!-- Favicons (configurable via site.Params.favicons.*, defaults to standard paths) -->
{{- $fav := site.Params.favicons | default (dict) -}}
{{- $ico := default "/favicon.ico" (index $fav "ico") -}}
{{- $png := default "/favicon.png" (index $fav "png") -}}
{{- $png16 := default "/favicon-16x16.png" (index $fav "png16") -}}
{{- $png32 := default "/favicon-32x32.png" (index $fav "png32") -}}
{{- $apple180 := default "/apple-touch-icon.png" (index $fav "apple180") -}}
{{- $android192 := default "/android-chrome-192x192.png" (index $fav "android192") -}}
{{- $android512 := default "/android-chrome-512x512.png" (index $fav "android512") -}}
{{- $manifest := default "/site.webmanifest" (index $fav "manifest") -}}

<!-- Root favicon for Google and other crawlers - Google prefers larger sizes (48x48+) -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">