---
// This page is a client-side "island" that runs Keystatic.
// By setting 'prerender' to false, we prevent the build-time errors.
export const prerender = true;

import { Keystatic } from '@keystatic/core/ui';
import keystaticConfig from '../../../keystatic.config';
---
<html>
  <head>
    <title>CMS</title>
  </head>
  <body>
    <Keystatic client:only="react" config={keystaticConfig} />
  </body>
</html>