---
export const prerender = true;
import { Keystatic } from '@keystatic/core/ui';
import keystaticConfig from '../../../keystatic.config';
---
<html>
  <body>
    <Keystatic 
      client:only="react" 
      config={keystaticConfig}
      storage={{
        kind: 'github',
        repo: {
          owner: 'caleb-stults',
          name: 'creative-writing-blog',
        },
      }}
    />
  </body>
</html>