---
// This ensures the page is treated as a simple static entry, 
// and we force it to be client-side only.
export const prerender = true;

import { Keystatic } from '@keystatic/core/ui';
import keystaticConfig from '../../../keystatic.config.ts';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Keystatic Admin</title>
  </head>
  <body>
    <Keystatic client:only="react" config={keystaticConfig} />
  </body>
</html>